@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap') ;

body {
  align-items: center;
  background-color: #1c1c1c;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h3 {
  color: white;
  font-family: Luckiest Guy , cursive;
  left: 50%;
  letter-spacing: 2px;
  position: absolute;
  top: 56%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loading {
  animation: animate 1s linear infinite;
  background: linear-gradient(#23a6d5, #ffeb3b, #e73c7e);
  border-radius: 50%;
  height: 9.375rem;
  position: relative;
  width: 9.375rem;
}

.loading span {
  background: linear-gradient(#23a6d5, #ffeb3b, #e73c7e);
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

@keyframes animate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.loading span:nth-child( 1 ) {
  filter: blur(5px);
}

.loading span:nth-child( 2 ) {
  filter: blur(10px);
}

.loading span:nth-child( 3 ) {
  filter: blur(25px);
}

.loading span:nth-child( 4 ) {
  filter: blur(50px);
}

.loading:after {
  background-color: #1c1c1c;
  border-radius: 50%;
  bottom: 0.468rem;
  content: '';
  left: 0.468rem;
  position: absolute;
  right: 0.468rem;
  top: 0.468rem;
}

@media screen and ( min-width : 1000px ) {

  h3 {
    top: 54.5%;
  }
}

@media screen and ( min-width : 1300px ) {

  h3 {
    top: 55%;
  }
}
