.triviaLogo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.path1 {
  stroke-dasharray: 100%;
}

@media screen and ( min-width : 765px ) {
  .triviaLogo {
    position: relative;
  }
}