.triviaLogo {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
}

svg path:nth-child( 6 ) {
  animation: logoMoviment 2.5s ease forwards , fillingLogo
    0.5s ease-in-out forwards 2s;
  stroke-dasharray: 338px;
  stroke-dashoffset: 338px;
}

svg path:nth-child( 5 ) {
  animation: logoMoviment 2.5s ease forwards 0.3s , fillingLogo
    0.5s ease-in-out forwards 2.1s;
  stroke-dasharray: 450px;
  stroke-dashoffset: 450px;
}

svg path:nth-child( 4 ) {
  animation: logoMoviment 2.5s ease forwards 0.6s , fillingLogo
    0.5s ease-in-out forwards 2.2s;
  stroke-dasharray: 261px;
  stroke-dashoffset: 261px;
}

svg path:nth-child( 3 ) {
  animation: logoMoviment 2.5s ease forwards 0.9s , fillingLogo
    0.5s ease-in-out forwards 2.3s;
  stroke-dasharray: 395px;
  stroke-dashoffset: 400px;
}

svg path:nth-child( 2 ) {
  animation: logoMoviment 2.5s ease forwards 1.2s , fillingLogo
    0.5s ease-in-out forwards 2.4s;
  stroke-dasharray: 262px;
  stroke-dashoffset: 262px;
}

svg path:nth-child( 1 ) {
  animation: logoMoviment 2.5s ease forwards 1.5s , fillingLogo
    0.5s ease-in-out forwards 2.5s;
  stroke-dasharray: 382px;
  stroke-dashoffset: 382px;
}

@media screen and ( min-width : 765px ) {

  .triviaLogo {
    position: relative;
  }
}

@keyframes logoMoviment {

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillingLogo {

  0% {
    fill: blanchedalmond;
    fill-opacity: 0%;
  }

  25% {
    fill: blanchedalmond;
    fill-opacity: 25%;
  }

  50% {
    fill: blanchedalmond;
    fill-opacity: 50%;
  }

  75% {
    fill: blanchedalmond;
    fill-opacity: 75%;
  }

  100% {
    fill: blanchedalmond;
    fill-opacity: 100%;
  }
}
