@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;800&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
}

.container-questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.btn-next {
  background-color: green;
  border: 1px solid transparent;
  border-color: green;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2px;
  text-align: center;
  width: 100px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.form-group {
  background-color: rgb(185, 214, 185);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 50vw;
  height: 70vh;
}

.incorrect {
  border: 3px solid red;
}

.question, .timer, .question-category {
  color: green;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}

h3.timer {
  top: 0;
  left: 50%;
  position: relative;
  transform: translate(-12%, -50%);
  z-index: 1;
  letter-spacing: 2px;
}

.question-text {
  color: green;
  font-size: 20px;
  font-style: italic;
}
