body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-inputs-container {
  align-items: center;
  background-color: lightskyblue;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.login-inputs-container label {
  align-items: center;
  margin: 10px 0;
  width: 80%;
}
