@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap') ;


body {
  background-color: #1C1C1C;
}

.context-input , .context-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.btn-play , .btn-settings {
  background-color: green;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  width: 150px;
  margin: 5px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.logo {
  margin: 0;
  margin-top: 15%;
  width: 144px;
}

.input-login {
  height: 20px;
  margin: 3px;
  width: 200px;
  border-radius: 5px;
}

.insert-login {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: rgb(49, 49, 49);
  text-align: center;
}

.btn-play:hover, .btn-settings:hover {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  color: #fff;
  font-weight: 600;
  background-size: 400% 400%;
  position: relative;
  animation: fluid 5s ease-in-out infinite;
}

@keyframes fluid {
  0%{
    background-position: 0 50% ;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}

@media screen and ( min-width : 765px ) {

  .context-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .context-input > * {
    width: 250px;
    height: 25px;
  }

  .container {
    justify-content: center;
  }

  .insert-login , .context-button {
    width: 335px;
    align-content: space-between;
  }

  .context-button > * > button {
    width: 150px;
    height: 35px;
  }

  .title {
    font-size: 4.5rem;
  }

}