body {
  background: rgb(103, 40, 175);
}

.container-page-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.config-btn {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all ease-in-out 300ms;
}

.fa-cogs {
  color: white;
  font-size: 42px;
  transition: all ease-in-out 300ms;
}

.fa-cogs:hover {
  color: rgb(24, 160, 139);
  cursor: pointer;
}

.image-trivia {
  margin-bottom: 50px;
  width: 400px;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background: rgb(226, 201, 255);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px auto;
  padding: 12px 16px;
  width: 250px;
}

input::placeholder {
  color: rgb(103, 40, 175);
}

.play-btn {
  background: rgb(24, 160, 139);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  padding: 12px 16px;
  transition: background-color ease-in-out 300ms;
  width: 100%;
}

.play-btn:hover {
  background: rgb(34, 192, 168);
}

.play-btn:disabled {
  background: rgba(24, 160, 139, 0.685);
  cursor: default;
}

@media ( max-width : 425px ) {

  .image-trivia {
    width: 250px;
  }

  .fa-cogs {
    font-size: 26px;
  }
}
