button {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 10px;
  width: 100%;
}

.boll-answer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bool-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.bool-question {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px;
  width: 60%;
}

/* .btn-correct {
  border: 3px solid rgb(6, 240, 15)
}

.btn-incorrect {
  border: 3px solid rgb(255, 0, 0)
} */

.btn-next {
  width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.mult-answer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

.mult-aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 40%;
}

.mult-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.mult-question {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px;
  width: 40%;
}

.question {
  align-items: center;
  display: flex;
  flex-direction: column;
}
