.answer-btn {
  background-color: grey;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(204, 204, 204);
  cursor: pointer;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
}

.answer-btn:hover {
  background-color: black;
  color: white;
}

.yes {
  border: 3px solid rgb(6, 240, 15);
}

.no {
  border: 3px solid red;
}
