header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-text-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 70%;
  justify-content: space-between;
}

.avatar-img {
  border: 10px solid white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
