.teste {
  background-color: gray;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: white;
  height: 15vh;
  background-color: #80808018;
  box-shadow: black 2px 2px 10px 5px, black -2px -2px 10px 5px;
  justify-items: center;
}

.gravatar {
  height: 10vh;
}

.playerName {
  grid-column: 2;
}

.playerScore {
  grid-column: 3;
}