header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* logon */
.header-login {
  box-shadow: none;
}

.trivia-logo-ingame {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: logo-tilt;
  animation-timing-function: ease-out;
  max-width: 300px;
}

@keyframes logo-tilt {

  25% { transform: rotate(2deg); }

  50% { transform: rotate(0deg); }

  75% { transform: rotate(-2deg); }

  100% { transform: rotate(0deg); }
}

.header-login .trivia-logo-ingame {
  animation: none;
  max-width: 500px;
  transition: 0.5s;
  visibility: visible;
}

.header-login .trivia-logo-ingame:hover {
  max-width: 600px;
}

.header-text-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 70%;
  justify-content: space-between;
  width: 200px;
}

.header-login .header-text-container, .img-container {
  visibility: hidden;
}

.img-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 200px;
}

.in-game-header .img-container {
  visibility: visible;
}

.avatar-img {
  border: 10px solid white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
