.App {
  text-align: center;
}
  
.App-logo {
  pointer-events: none;
  width: 180px;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 160px;
}
  
.App-link {
  color: #61dafb;
}

p {
  font-size: 1;
}
  
  @keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
  } 