main {
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  
}

.App {
  text-align: center;
}

/* form login */
.title-main {
  font-size: 40px;
}
.login-img {
  width: 300px;
  height: 300px;
}

.login-form label {
  display: block;
  margin-top: 10px;
}