.App {
  text-align: center;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 1em 0;
}

.App-link {
  background-color: #8da5c9;
  color: #000;
  display: block;
  font-weight: 900;
  margin: 1em auto 0;
  padding: 0.5em;
  text-decoration: none;
  width: 100px;
}

.App-link:hover {
  background-color: #499bff;
  color: #fff;
  cursor: pointer;
}

.App-link:disabled, .App-link:hover:disabled {
  background-color: #8da5c9;
  color: lightgray;
  cursor: not-allowed;
}

.App-logo {
  height: 30vmin;
  margin: 0 0 3em;
  pointer-events: none;
}

.flex {
  display: flex;
}

.game {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  margin: 0.5em 10px;
  padding: 0.5em 1em;
}

.game-body {
  display: flex;
  justify-content: space-between;
}

.green-border {
  border: 1px solid green;
}

.input {
  display: block;
  margin: 2em auto 0;
  padding: 1em 0;
  width: 250px;
}

.login {
  height: 50px;
  margin: 2em auto 0;
  width: 100px;
}

.login-btn {
  background-color: #499bff;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  height: inherit;
  text-transform: uppercase;
  width: inherit;
}

.login-btn:disabled {
  background-color: #cfe1fc;
  color: #73767c;
  cursor: not-allowed;
}

.profile {
  border-radius: 50%;
}

.ranking {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.red-border {
  border: 1px solid red;
}

.settings {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  margin: 0.5em auto;
  padding: 0.5em 2em;
}

.settings-input {
  background-color: #00000000;
  border: 3px solid #499bff;
  color: #fff;
  font-weight: 900;
  margin: 2em auto 0 50px;
  padding: 1em 10px;
  width: 150px;
}

.stats {
  justify-content: space-between;
  padding: 10px;
  width: auto;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: fadeInOut infinite 3s ease-in both;
  }
}

@keyframes fadeInOut {

  0% { opacity: 1;}

  50% { opacity: 0;}

  100% { opacity: 1;}
}
