.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.login {
  display: flex;
  justify-content: center;
  margin: 100px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
}

.logo {
  height: 450px;
}

.btn {
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  margin-left: 60px;
  margin-top: 20px;
  padding: 8px;
}

.btn-link {
  background-color: white;
  text-decoration: none;
}

.App-header {
  align-items: center;
  background-color: #54ad50;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  min-height: 40px;
  padding: 20px;
}

.home-btn :link {
  text-decoration: none;
}

.home-btn {
  background-color: whitesmoke;
  padding: 0.5%;
}
